<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1.0" name="viewport">
        <link href="<%= BASE_URL %>favicon.ico" rel="icon">
        <title>Line and Surface</title>
    </head>
    <body>
        <noscript>
            <strong>We're sorry but Line and Surface doesn't work properly without JavaScript
                enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
        <script data-goatcounter="https://las.goatcounter.com/count"
                async src="//gc.zgo.at/count.js"></script>
    </body>
</html>
